<!DOCTYPE html>
<html>
	<head>
	  <title>IdeaFactory</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">

			<a href="/">Home</a> |
			<!-- href hardcodes in the address, but 'link_to' is better because you only have to change it routes.rb one file should you change the URL path --> 
			<%= link_to "New idea", new_idea_path %>  |
			<%= link_to "Ideas index", ideas_path %> |


			<!-- flash notice and alert for gem 'devise' usage -->
			<%#= flash[:notice] || flash[:alert] %>
			<% flash.each do |name, msg| %>
				<% if name=="notice" %>
					<%= content_tag :div, msg, class: "alert alert-info", role: "alert" %>
				<% elsif name=="alert" %>
					<%= content_tag :div, msg, class: "alert alert-warning", role: "alert" %>
				<% elsif name=="error" %>
					<%= content_tag :div, msg, class: "alert alert-danger", role: "alert" %>
				<% else %>
					<%= content_tag :div, msg, class: "alert alert-info", role: "alert" %>
				<% end %>
			<% end %>

			
			<%= yield %>
		</div>

	</body>
</html>
